<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- These are Harp template tags. -->
    <!-- The variable values come from _harp.json and _data.json. -->
    <title><%- pageTitle %> | <%- siteTitle %></title>

    <!-- Bootstrap 4 CSS. -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <%- partial("partial/_header") %>
    <%- yield %>
    <%- partial("partial/_footer") %>

    <!-- We install these via NPM and then symlink from js/ subdir. -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
